{% extends "shop/base/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
عربة التسوق الخاصة بك
{% endblock %}
{% block content %}


<div class="bg-light py-3">
    <div class="container">
        <div class="row">
            <div class="col-md-12 mb-0"><a href="index.html">الرئيسية</a> <span class="mx-2 mb-0">/</span> <strong
                    class="text-black">عربة التسوق</strong></div>
        </div>
    </div>
</div>

<div class="site-section">
    <div class="container">
        <div class="row mb-5">
            <form class="col-md-12" method="post">
                <div class="site-blocks-table">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="product-thumbnail">صورة</th>
                                <th class="product-name">المنتج</th>
                                <th class="product-price">السعر</th>
                                <th class="product-quantity">العدد</th>
                                <th class="product-total">المجموع</th>
                                <th class="product-remove">إزالة</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>{% for item in cart %}
                                {% with product=item.product %}
                            <tr>
                                <td class="product-thumbnail">
                                    <img src="{{ product.image.url }}" alt="Image" class="img-fluid">
                                </td>
                                <td class="product-name">
                                    <h2 class="h5 text-black">{{ product.name }}</h2>
                                </td>
                                <td>ليرة سورية{{ item.price }}</td>
                                <td>
                                    <div class="input-group mb-3" style="max-width: 120px;">
                                        <div class="input-group-prepend">
                                            <form action="{% url 'cart:cart_add' product.id %}" method="post">
                                                {% csrf_token %}
                                                {{ item.update_quantity_form.quantity }}
                                                {{ item.update_quantity_form.override }}
                                                <input class="btn btn-outline-primary js-btn-plus" type="submit"
                                                    value="تحديث">
                                            </form>
                                        </div>
                                    </div>
                                </td>
                                <td>ليرة سورية{{ item.total_price }}</td>
                                <td><a href="{% url 'cart:cart_remove' product.id %}"
                                        class="btn btn-primary btn-sm">X</a></td>
                            </tr>
                            {% endwith %}
                            {% endfor %}
                            </tr>

                        </tbody>
                    </table>
                </div>
            </form>
        </div>

        <div class="row">
            <div class="col-md-6">
                <div class="row mb-5">
                    <div class="col-md-6 mb-3 mb-md-0">
                        <a href="{% url 'shop:product_list' %}" class="btn btn-primary btn-sm btn-block">الاستمرار في التسوق</a>
                    </div>
                    <!-- <div class="col-md-6">
                        <button class="btn btn-outline-primary btn-sm btn-block">الدفع الاكتروني - قيد التطوير -</button>
                    </div> -->
                </div>
                <div class="row" style="text-align: right;">
                    <div class="col-md-12">
                        <label class="text-black h4" for="coupon" >الحسم</label>
                        <p>أدخل كود الحسم هنا اذا كنت تمتلك واحد</p>
                    </div>
                    <form action="{% url 'coupons:apply' %}" method="post">
                        {% csrf_token %}
                        <div class="col-md-8 mb-3 mb-md-0">
                            {{ coupon_apply_form.code|as_crispy_field }}
                        </div>
                        <div class="col-md-4">
                            <button type="submit" class="btn btn-primary btn-sm">تأكيد الكود</button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-6 pl-5">
                <div class="row justify-content-end">
                    <div class="col-md-7">
                        <div class="row">
                            <div class="col-md-12 text-right border-bottom mb-5">
                                <h3 class="text-black h4 text-uppercase">مجموع العربة</h3>
                            </div>
                        </div>

                        <div class="row mb-5">
                            <div class="col-md-6 text-left">
                                <strong class="text-black"> 
                                    
                                    {{cart.get_total_price|floatformat:"0" }}
                                
                                </strong>
                            </div>
                            <div class="col-md-6" style="text-align: right;">
                                <span class="text-black">المجموع</span>
                            </div>
                        </div>

                        <div class="row">
                            {% if cart.get_total_price == 0 %}
                            <div class="col-md-12">
                                    <button  id="checkoutButton" class="btn btn-primary btn-lg py-3 btn-block" disabled>
                                        الاستمرار في الدفع
                                    </button>
                                    <p id="emptyCartMessage" class="text-danger" style="display: none;">
                                        عذرًا، السلة فارغة. يرجى إضافة منتجات إلى السلة أولاً.
                                    </p>
                                <script>
                                     document.addEventListener("DOMContentLoaded", function () {
                                    // Get the checkout button and empty cart message elements
                                    var checkoutButton = document.getElementById('checkoutButton');
                                    var emptyCartMessage = document.getElementById('emptyCartMessage');

                                    // Add click event listener to the checkout button
                                    checkoutButton.addEventListener('click', function (event) {
                                        // Display the empty cart message
                                        emptyCartMessage.style.display = 'block';
                                        // Prevent the default button behavior (e.g., form submission)
                                        event.preventDefault();
                                        });
                                    });
                                </script>
                                </div>                           
                            {% else %}
                            <div class="col-md-12">
                                <a class="btn btn-primary btn-lg py-3 btn-block"
                                    href="{% url 'order:order_create' %}">الاستمرار في الدفع</a>
                            </div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}