{% load static %}


<div class="container">
    <footer class="py-3 my-4">
      <ul class="nav justify-content-center border-bottom pb-3 mb-3">
        <li class="nav-item"><a href="{% url 'about:exchange_refund_policy' %}" class="nav-link px-2 text-body-secondary">سياسة الاستبدال والرد</a></li>
        <li class="nav-item"><a href="{% url 'about:bug_bounty_program' %}" class="nav-link px-2 text-body-secondary">برنامج الكشف عن الثغرات الأمنية</a></li>
        <li class="nav-item"><a href="{% url 'about:terms_of_use' %}" class="nav-link px-2 text-body-secondary">شروط الاستخدام والأحكام</a></li>
        <li class="nav-item"><a href="{% url 'about:privacy_statement' %}" class="nav-link px-2 text-body-secondary">سياسة الخصوصية</a></li>
        <li class="nav-item"><a href="{% url 'about:about_us' %}" class="nav-link px-2 text-body-secondary">حول</a></li>
      </ul>
      
      <p class="text-center text-body-secondary"> 
        <img src="{% static 'img/favicon.ico' %}" alt="" style="height: 20px; width: 20px;">
        2023 
        
         جميع الحقوق محفوظة </p>

    </footer>
  </div>