{% extends "shop/base/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block content %}

<div class="container">
	<div class="row text-center">
        <div class="col-sm-6 col-sm-offset-3">
        <br>
            <h3>فشل <i class="icon icon-thumbs-up"></i></h3>
            <p style="font-size:20px;color:#0e0d0d;">
                يبدو أن الرابط الذي تحاول تأكيد بريدك من خلاله منتهي الصلاحية 
            </p>
            <p> -- </p>

        </div>
	</div>
</div>

{% endblock %}