{% extends "shop/base/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
من نحن
{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
      <div class="col-md-8 card mb-4  mt-3 left  top">
        <div class="card-body">
            <h1 style="text-align: right;">معلومات عنا</h1>
            <p class="card-text" style="text-align: right;">أطلق الموقع في بداية سنة 2024 </p>
            <p class="card-text" style="text-align: right;"> نعمل على توسيع وتنويع أطر نشاطنا التجاري لنقدم لزبائننا خيارات لا مثيل لها من العلامات التجارية العالمية في مختلف القطاعات التي تضم الأزياء والأحذية، والصحة والجمال، والأغذية والمنظفات والبصريات، والصيدلة، والأثاث والمفروشات المنزلية، والتسلية والترفيه العائلي. يتمتع زملاؤنا في المجموعة بدرجة عالية من المهارة والتفاني ويجمعهم الالتزام بتقديم خدمة زبائن مميزة وتجربة تسوق فريدة لدى مختلف علاماتنا التجارية.</p>
            <p class="card-text" style="text-align: right;">تعكس مجموعة العلامات التجارية التي يديرها موقعنا التطور الدائم الذي نختبره ونقدم خيارات واسعة تتماشى مع أسلوب حياة زبائننا. بدءاً من المحلات والمطاعم المنتشرة إلى المحلات التجارية المحلية وخدمة السيارات والتسوق أونلاين، حيث يقدم الموقع  العلامات التجارية المفضلة لكم .</p>
        </div>
      </div>
    </div>
  </div>


  


{% endblock %}