{% extends "shop/base/base.html" %}
{% load static %}


{% block content %}

<h1>قريباً </h1>
{% endblock %}


<!-- 
<link href="{% static 'css/hack.css' %}" rel="stylesheet">

<br>
<div class="container">
<div class="row">
    <div class="col-md-3">
        <div class="ibox float-e-margins">
            <div class="ibox-content">
                <div class="file-manager">
                    <div class="hr-line-dashed"></div>
                    <div class="hr-line-dashed"></div>
                    <h5><i class="icon icon-home"></i></h5>
                    <ul class="folder-list" style="padding: 0">
                        <li><a href=""><i class="icon icon-folder"></i> Files</a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-9 animated fadeInRight">
        <div class="row">
            <div class="col-lg-12">
                <div class="file-box">
                    <div class="file">
                        <a href="#">
                            <span class="corner"></span>
                            <div class="icon">
                                <i class="icon icon-folder"></i>
                            </div>
                            <div class="file-name">
                                Document_2014.doc
                                <br>
                                <small>Added: Jan 11, 2014</small>
                            </div>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
</div> -->
