{% extends "shop/base/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
سياسة الاستبدال والرد -
{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
      <div class="col-md-8 card mb-4  mt-3 left  top">
        <div class="card-body">
            <h1 style="text-align: right;">سياسة الاستبدال والرد -</h1>
            <p class="card-text" style="text-align: right;">  
                تحرص محلاتنا على تسوق زبائنها بثقة واطمئنان من خلال توفير خدمة استرجاع ثمن مشترياتهم نقداً في غضون 5 أيام من تاريخ الشراء واستبدال مشترياتهم في غضون 14 يوماً من تاريخ الشراء.
            </p>
            <p class="card-text" style="text-align: right;">
                يجب أن تكون المشتريات المراد استبدالها أو استرجاعها بغلافها وبطاقاتها التعريفية عند إتمام عملية الشراء ومرفقة بإيصال الشراء الأصلي.
            </p>
            <p class="card-text" style="text-align: right;">
                ويمكن استبدال المشتريات التي تم شراؤها بأسعار مخفضة أثناء فترة العروض خلال 3 أيام من تاريخ الشراء، ولا يمكن استرجاع القيمة النقدية لهذه المشتريات.
            </p>
            <p class="card-text" style="text-align: right;">
                كما تجدر الإشارة إلى أنه يشترط إعادة أي هدية يحصل عليها الزبون بالتلازم مع مشترياته عند رغبته باستبدال أو استرجاع هذه المشتريات.   
            </p>
            <p class="card-text" style="text-align: right;">

            في حال وجود أي خطأ في فاتورة الشراء، يرجى إبلاغ مدير المحل مباشرةً.
            </p>
            <p class="card-text" style="text-align: right;">
            شاكرين لكم حسن تعاونكم معنا، واختياركم التسوق لدى محلاتنا. كما يسرنا أن نستقبل اقتراحاتكم لإيجاد أفضل السبل الكفيلة لتلبية احتياجاتكم الخاصة في المستقبل عبر البريد الإلكتروني
            </p>
        </div>
      </div>
    </div>
  </div>


  


{% endblock %}
