{% extends "shop/base/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
سياسة الخصوصية 
{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
      <div class="col-md-8 card mb-4  mt-3 left  top">
        <div class="card-body">
            <h1 style="text-align: right;"> 
                بيان الخصوصية 
            </h1>
            <h2 style="text-align: right;"> 
                مقدمة
            </h2>
            <p class="card-text" style="text-align: right;"
            >تلتزم مجموعتنا التجارية (المشار إليها فيما يلي بإسم "نحن" أو "الخاصة بنا" أو "لنا" أو "كيو ستار" أو "المجموعة") التزاماً قطعياً بحماية خصوصيتك.
            </p>
            <p class="card-text" style="text-align: right;">
                تم إنشاء سياسة الخصوصية هذه لإظهار التزامنا بالحفاظ على خصوصية بياناتك الشخصية وأمنها. تتضمن سياسة الخصوصية معلومات عنا وكيف نجمع ونشارك ونستخدم بياناتك الشخصية، وكيف يمكنك استخدام حقوقك للمحافظة على خصوصية بياناتك أو التواصل معنا للإجابة عن استفساراتك أو مخاوفك المتعلقة بخصوصية بياناتك. يتم توفير سياسة الخصوصية هذه بصيغة خاصة تتضمن طبقات وروابط متعددة لتتمكن من الدخول اليها من خلال الضغط عليها للانتقال إلى الفقرات المحددة الموضحة أدناه.
            </p>
            <h2 style="text-align: right;"> 
                الغرض من سياسة الخصوصية هذه
            </h2>
            <p class="card-text" style="text-align: right;">
            ستقدم لك سياسة الخصوصية الخاصة بنا معلومات عن طريقة اعتنائنا ببياناتك الشخصية عند زيارتك لموقعنا الإلكتروني (بغض النظر عن البلد والموقع الذي تتواجد فيه أنت أثناء تصفحك للموقع)، بما في ذلك أيّ بيانات تقدمها من خلال هذا الموقع عند الاشتراك في نشرتنا الإخبارية، والمشاركة في الاستبيانات، وتحميل أي منشور والمشاركة في مسابقة، أو استخدام أي من تطبيقات الهاتف المحمول لدينا. ومع ذلك، إذا كنت تقدم معلومات من خلال صفحة التوظيف الخاصة بنا المرتبطة بهذا الموقع، نرجو منك الاطلاع على سياسة الخصوصية المنفصلة الخاصة بتقديم طلبات التوظيف هنا.
            </p>

            <h2 style="text-align: right;"> 
                البيانات الشخصية التي نجمعها عنك
            </h2>
        </div>
      </div>
    </div>
  </div>


  


{% endblock %}