{% extends "shop/base/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block title %}
الشروط والأحكام
{% endblock %}
{% block content %}

<div class="container">
    <div class="row">
      <div class="col-md-8 card mb-4  mt-3 left  top">
        <div class="card-body">
            <h1 style="text-align: right;">الشروط والأحكام</h1>
            
            <h2 style="text-align: right;"> 
                بنود عامة
            </h2>

            <p class="card-text" style="text-align: right;">
                 مرحبًا بك في موقعنا. هذا الموقع، موقع الويب 
                 يخضع الوصول إلى أو مشاهدة أو استخدام أي محتوى أو معلومات أو بيانات أو ميزات أو منتجات أو خدمات أو أي جزء متاح منها، سواء يمكن الوصول إليها من خلال أي جزء أو أجزاء من موقع الويب ("المحتوى") أو تُنشَر من خلاله بواسطة أي مستخدم، لشروط الاستخدام التالية ("شروط الاستخدام").           
            </p>
            <p class="card-text" style="text-align: right;">
                يتم توفير الوصول إلى أو استخدام موقع الويب أو المحتوى لك لدى قبولك شروط الاستخدام وسياسة الخصوصية، وأي إشعارات أو سياسات أخرى منشورة على موقع الويب أو تتم إضافتها إلى شروط الاستخدام من وقت لآخر. وبالوصول إلى موقع الويب أو المحتوى أو استخدامه، فأنت تقر وتوافق على شروط الاستخدام، وسياسة الخصوصية الخاصة بنا وأي إشعارات أو سياسات أخرى منشورة بالموقع. إذا كنت لا توافق على الالتزام والامتثال لجميع ما تقدم، لا يجوز لك الوصول إلى موقع الويب.
            </p>

            <h2 style="text-align: right;"> 
                الترخيص المحدود
            </h2>
            <p class="card-text" style="text-align: right;">
                وفقًا للشروط والبنود المنصوص عليها في شروط الاستخدام هذه، يمنحك موقعنا حقًا محدودًا غير حصري ولا يمكن التنازل عنه للوصول والاستفادة الشخصية من الموقع والمحتوى، ولكن ليس لتنزيل (باستثناء التخزين المؤقت للصفحات) أو تعديل الموقع أو أي جزء منه.
            </p>

            <h2 style="text-align: right;"> 
                إخلاء المسؤولية بشأن بنود محددة
            </h2>
            <p class="card-text" style="text-align: right;">
                إن أداء أو عرض موقع الويب والمحتوى وكل المحتوى المماثل المتوفر أو المتاح من خلال أي موقع أو واجهة أو بوابة على شبكة الإنترنت يمكن الوصول إليها أو تُنشَر من خلال موقع الويب، متوفر "كما هو" "وأينما هو" و"كيفما توفر" وبدون أي ضمانات. لا نعطي "نحن" أي إقرار أو ضمان أو كفالة من أي نوع، بما في ذلك، على سبيل المثال لا الحصر، أي ضمانات صريحة أو ضمنية أو ضمانات بشأن القابلية للتسويق أو الملاءمة لغرض معين أو عدم التعدي على حقوق الأطراف الثالثة فيما يتعلق بموقع الويب أو المحتوى أو أي من أو كل المحتوى المماثل المتوفر أو المتاح من خلال أي موقع أو واجهة أو بوابة على شبكة الإنترنت يمكن الوصول إليها أو تُنشَر من خلال موقع الويب. أنت توافق على أن  موقعنا المشار إليه "نحن" لن يكون مسؤول عن أي مشكلات أو خلل فني في أي شبكة أو خطوط هاتفية أو نظم الكمبيوتر على الإنترنت أو الخوادم أو موفري خدمة الإنترنت أو الأجهزة أو البرمجيات أو أي منها معًا، بما في ذلك أي ضرر أو تلف يلحق بجهازك أو بجهاز أي شخص آخر نتيجة لاستخدام موقع الويب.
            </p>
            
            <h2 style="text-align: right;"> 
                الحد من الأضرار
            </h2>
            <p class="card-text" style="text-align: right;">

            أنت تقر وتوافق على أن أي وصول إلى أو استخدام أو الاعتماد على موقع الويب أو المحتوى أو أي محتوى مماثل متوفر أو متاح من خلال أي موقع أو واجهة أو بوابة على شبكة الإنترنت يمكن الوصول إليها أو تُنشَر من خلال موقع الويب، بواسطتك، سواء بصورة كلية أو جزئية، يكون على مسؤوليتك الخاصة كليًا. لا نتحمل "نحن" أو أي نشاط تجاري تابع لنا مسؤولية أي شخص، اعتباري أو طبيعي، أو عن أي أضرار مباشرة أو غير مباشرة أو تبعية أو عرضية أو خاصة أو تأديبية أو أي أضرار أخرى (بما في ذلك على سبيل المثال وليس الحصر، أي خسارة في الأرباح أو توقف الأنشطة التجارية أو فقدان الأجهزة أو أنظمة الكمبيوتر أو المعلومات أو البرامج أو البيانات الأخرى الموجودة على النظام الخاص بك، إلخ) والتي ترتبط بالأداء والوصول إلى واستخدام أو عدم القدرة على الوصول إلى أو استخدام موقع الويب أو أي موقع أو بوابة أو واجهة متصلة منه أو فيه أو إليه، أو المحتوى، حتى عندما يتم إخطارنا بإمكانية حدوث مثل هذه الأضرار.
            </p>


            <h2 style="text-align: right;"> 
                سلوكيات والتزامات المستخدم
            </h2>
            <p class="card-text" style="text-align: right;">
            أنت توافق على اتباع جميع القوانين واللوائح الدولية و/أو المحلية المعمول بها عند استخدام موقع الويب. وعلاوة على ذلك، فإنك توافق على أنك لن تقوم أو تحاول القيام بأي مما يلي، إلا بموافقة خطية مسبقة صريحة من قبلنا :
            </p>


            <p class="card-text" style="text-align: right;">
                تعطيل أو وضع أعباء غير معقولة أو أحمال زائدة على أو التداخل مع أو مقاطعة أو محاولة الوصول غير المصرح به إلى أي جزء من موقع الويب أو أنظمة الكمبيوتر أو الخوادم أو الشبكات الخاصة به بيع الوصول لاستخدام موقع الويب أو المحتوى
            </p>
            <p class="card-text" style="text-align: right;">
                إعادة توزيع المحتوى بأي شكل من الأشكال، بما في ذلك وسائل النشر المطبوعة أو البث بالفاكس أو صفحات الويب أو البريد الإلكتروني أو مجموعات الأخبار على شبكة الإنترنت أو المنتديات أو أي خدمة أو وسيلة إلكترونية أو ورقية أخرى
            </p>
            <p class="card-text" style="text-align: right;">
                تغيير التنسيق الذي يتم به عرض موقع الويب أو المحتوى عمدًا
            </p>
            <p class="card-text" style="text-align: right;">
                تضمين أو استيراد محتوى إلى أي خدمات معلوماتية (سواء على شبكة الإنترنت أو لا) أو ملفات البيانات أو برامج التطبيقات
            </p>
            <p class="card-text" style="text-align: right;">
                إعادة إنتاج أي جزء من موقع الويب أو المحتوى
            </p>
            <p class="card-text" style="text-align: right;">
            القيام بأي ممارسة أو نشاط آخر يكون الغرض منه أو التأثير الناتج عنه هو أنه يؤثر سلبًا على موقع الويب أو المحتوى.
        </p>


        <h2 style="text-align: right;"> 
            محتوى الطرف الثالث/الأطراف الثالثة 
       </h2>
       <p class="card-text" style="text-align: right;">
        قد يعرض موقع الويب أو يتيح محتوى معين أو بيانات مستمدة من أطراف ثالثة، والتي تشمل مقالات أو تقارير تحليلية أو روابط أو مؤشرات إلى مواقع ويب أو بوابات أو واجهات أخرى أو محتوى آخر، بما في ذلك المعلومات أو البيانات المعروضة فيها، والتي تشمل الإحالات إلى الميزات والمنتجات والخدمات المقدمة بواسطة أطراف ثالثة ("محتوى طرف ثالث"). ونحن لم ننشئ أو نوافق على أو نقر محتوى الطرف الثالث، وقد تمت إتاحته أو إتاحة الوصول إليه من خلال موقع الويب بغية الاطلاع عليها فقط. وقد تم الحصول على كل محتوى الطرف الثالث من مصادر يُعتقد بأنها موثوق بها، إلا أن موقعنا "بما فيه نحن " لا نعطي أي إقرار أو ضمان أو كفالة كنتيجة لعرض أو توفر أو إتاحة الوصول إلى محتوى الطرف الثالث من خلال موقع الويب بشأن دقته أو اكتماله أو توقيته. وأنت توافق على اعتبارنا غير مسؤولين بأي شكل فيما يتعلق بعرض محتوى الطرف الثالث أو اعتمادك عليه أو استخدامك له أو عدم قدرتك على استخدامه.

        أنت تقر وتوافق على أن تعاملاتك التجارية (بما في ذلك سداد قيمة أي سلع أو خدمات ذات صلة أو تسليمها) مع أي طرف ثالث أو جهات غير تابعة لنا قانوناً يُشار إليها أو تُعرض من خلال موقع الويب، هي فقط بينك وبين هذا الطرف الثالث.
        
        أنت تقر بأنه في مثل هذه التعاملات، لا نعتبر "نحن" البائع أو المورد وموافقتك على شراء المنتجات أو الخدمات من أي من هذه الأطراف الثالثة هي فقط بينك وبين هذا الطرف الثالث وليس نحن. لا نتحمل نحن  أي مسؤولية عن أي رسوم أو خسائر أو التزامات أو أضرار تلحق بك أو بأي مستخدم لحسابك تتعلق بأي من هذه التعاملات أو بعقد أو إتمام معاملات مع أي من هذه الأطراف.
       </p>

        </div>
      </div>
    </div>
  </div>


  


{% endblock %}